.role-list-td h5 {
  margin-top: .25rem;
}

.role-list-td .btn-special {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #333;
  display: inline-block;
  font-size: .9rem;
  line-height: 1.4rem;
  margin-bottom: .25rem;
  margin-right: .25rem;
  padding: 2px 8px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}
